<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AvailableFilesList" value="http://www.nbp.pl/kursy/xml/dir.txt" />
    <add key="ActualExchangeRatesDataSourceUrl" value="http://www.nbp.pl/kursy/xml/LastA.xml" />
    <add key="ActualBuySellRatesDataSourceUrl" value="http://www.nbp.pl/kursy/xml/LastC.xml" />
    <add key="ActualBaseRatesDataSourceUrl" value="http://www.nbp.pl/xml/stopy_procentowe.xml"/>
    <add key="ArchivalExchangeRatesDataSourceUrl" value="http://www.nbp.pl/kursy/xml/{0}.xml" />
  </appSettings>
</configuration>